

/* ************************************* */
/*          プロジェクト作成欄            */
/* ************************************* */

/* ページタイトル */
.page_title {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

/* 各項目タイトル */
.container_itemlist .container_item .item_title {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* 各項目入力欄共通 */
.container_itemlist .container_item .projectName,
.container_itemlist .container_item .reqruiteNumber,
.container_itemlist .container_item .duedate,
.container_itemlist .container_item .description,
.container_itemlist .container_item .requirement,
.container_itemlist .create,
.container_itemlist .update 
 {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

/* 説明欄 */
.container_itemlist .container_item .description {
    height: 100px;
    resize: vertical;
}

/* 求めるスキル */
.container_itemlist .container_item .requirement {
    flex: 1;
    width: 85%;
}

/* スキル追加ボタン */
.container_itemlist .container_item .add_requirement {
    padding: 5px 10px;
    border: none;
    background-color: #25d425;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px;
    height: 35px;
}
.container_itemlist .container_item .add_requirement:hover {
    background-color: #1b941b;
}

/* スキル削除ボタン */
.container_itemlist .container_item .remove_requirement {
    padding: 5px 10px;
    border: none;
    background-color: rgb(252, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px;
    height: 35px;
}
.container_itemlist .container_item .remove_requirement:hover {
    background-color: #df0000;
}

/* プロジェクト作成ボタン */
.container_itemlist .create {
    background-color: #21b921;
    color: white;
    /* border: none; */
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.container_itemlist .create:hover {
    background-color: #1b941b;
}

/* プロジェクト更新ボタン */
.container_itemlist .update {
    background-color: #ff8800;
    color: white;
    /* border: none; */
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.container_itemlist .update:hover {
    background-color: #e07800;
}

/* 戻るボタン */
.container .back {
    color: black;
    background-color: gray;
    font-weight: bold;
    width:10%;
    height: 30px;
    margin-left: 90%;
    cursor: pointer;
    border-radius: 3px;
}
.container .back:hover{
    background-color: #5f5f5f;
}

/* 必須項目(印) */
.requiredInput {
    color: red;
}

/* エラーメッセージ */
.error_message {
    color: red;
    font-size: 0.9em;
    /* margin-top: 5px; */
}