/* ************************************* */
/*            ヘッダー（共通）            */
/* ************************************* */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* ************************************* */
/*            コンテナ（共通）            */
/* ************************************* */
.container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* ************************************* */
/*            プロジェクト詳細            */
/* ************************************* */

/* プロジェクトメタデータ(募集人数・期限日) */
.container .project-meta {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
}

/* プロジェクト説明 */
.container .project-description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* 必要条件 */
.container .requirements {
    margin-bottom: 20px;
}
.container .requirements h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.container .requirements ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* 参加申請ボタン */
.container .apply {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* 戻るボタン */
.container .back {
    color: black;
    background-color: gray;
    font-weight: bold;
    width: 10%;
    height: 30px;
    margin-left: 90%;
    cursor: pointer;
    border-radius: 3px;
}

.container .back:hover {
    background-color: #5f5f5f;
}